*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --cor-principal: #EBE7DA;
    --cor-secundaria: #D6CFC2;
    --cor-destaque: #65615b;

    --cor-texto: #2B2B2B;
    --cor-texto2: #ffffff;

    --font-principal: 'Poppins', sans-serif;


    --input-radius: 3px;
    --input-transition: 0.3s ease;

    --input-hover: var(--cor-principal);
    --input-placeholder: #999;
    --input-focus-border: 1px solid var(--cor-destaque);
    --input-focus-box-shadow: 0 0 0 1px var(--cor-destaque);

    --input-marginB-last: 20px;
}

a{
    text-decoration: none;
}