body{
    height: 100dvh;
    background-color: var(--cor-principal);

    font-family: var(--font-principal);
    overflow: hidden;

    transition: 0.4s ease;
}

#overlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

#overlay.active{
    display: block;
}


header{
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    background-color: var(--cor-secundaria);
    position: relative;
}


.st-floor-header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 6px 25px;

    z-index: 9;
}


.user-name-exit{
    display: flex;
    gap: 5px;
}

.mode-btn{
    display: block;
    height: 50px;
    cursor: pointer;
    transition: 0.4s;
}

.mode-btn:hover{
    filter: drop-shadow(0 0 4px rgba(0,0,0,1));
}

.user-name-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    
}

.arrow-down{
    border: none;
    background-color: transparent;

    color: var(--cor-texto);

    padding: 5px;

    cursor: pointer;

    transition: 0.2s ease;
}

.st-floor-header a{
    font-weight: 600;
    color: var(--cor-texto);
}

.st-floor-header .btn-exit{
    border: none;
    background-color: transparent;

    font-weight: 600;
    color: var(--cor-texto);

    padding: 10px;

    cursor: pointer;
}

.st-floor-header.active{
    box-shadow: 0 2px 2px rgba(255, 255, 255, 0.37);
}


/* segundo header invisível inicialmente e dentro do fluxo do primeiro */
.nd-floor-header {
    position: absolute; /* abaixo do st-floor-header, não sobrepondo */
    top: 100%;
    width: 100%;
    text-align: end;

    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: row;

    font-weight: 600;

    max-height: 0; /* altura zero para ficar colapsado */
    overflow: hidden; /* conteúdo escondido quando fechad0 */
    padding: 0 20px;
    background-color: var(--cor-destaque);
    color: var(--cor-texto2);

    opacity: 0; /* transparente fechado */
    transition: max-height 0.2s ease, opacity 0.35s ease, padding 0.35s ease;
    z-index: 9;

}

.nd-floor-header.active {
    max-height: 120px; /* expande para mostrar conteúdo */
    padding: 10px 20px;
    opacity: 1; /* torna visível */
    
}

.user-cash{
    border: none;
    border-radius: 3px;

    font-weight: 700;
    
    padding: 5px 10px;
    margin-right: 10px;

    background-color: var(--cor-secundaria);

    cursor: pointer;
}

.user-cash.active{
    background-color: var(--cor-destaque);
}



main{
    display: flex;
    flex-direction: column;

    height: 100dvh;
    overflow: hidden;

    width: 100%;
    max-width: 800px;
    margin: 0 auto;

    padding-top: 60px;
}



.box-main{
    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    width: 100%;

    height: calc(100dvh - 170px); /* 80px = altura do header */
    overflow: hidden;
    margin-top: 0;

    padding: 25px;

    border-radius: 10px;
    background-color: var(--cor-secundaria);
}

.header-filter, 
.box-gen-items{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;

    width: 100%;

    background-color: var(--cor-destaque);
    border-radius: 3px;

    padding: 20px;
    margin-bottom: 10px;
    gap: 10px;
}

.select-filter{

}

.select-filter select{
    
}

.header-filter input{
    padding: 10px;
}

.input-gen{
    padding: 10px;
    width: 100%;

    border: 1px solid transparent;
    border-radius: 3px;

    outline: none;

    font-family: var(--font-principal);
    transition: 0.3s ease;
}

.input-img{
    display: none;
}

.fake-ipt-img{
    padding: 10px;
    width: 100%;

    text-align: center;
    font-size: 14px;
    font-family: var(--font-principal);
    color: var(--input-placeholder);

    background-color: white;

    border-radius: 3px;

    cursor: pointer;
}

.input-gen:focus{
    outline: none;
    border: 1px solid var(--cor-principal);
    box-shadow: var(--input-focus-box-shadow);
}

.btn-add-item{
    padding:10px;

    border: 1px solid var(--cor-principal);
    border-radius: 3px;

    background-color: var(--cor-principal);

    font-weight: 600;
    cursor: pointer;
}

.btn-add-item:hover{
    background-color: var(--cor-secundaria);
}

.box-items{
    display: grid;
    justify-content: start;
    align-items: flex-start;
    grid-template-columns: repeat(auto-fit, minmax(150px, 160px));
    gap: 10px;

    flex: 1;

    background-color: var(--cor-texto2);
    border-radius: 3px;

    padding: 15px 30px;  
    
    min-height: 0;

    width: 100%;

    overflow-y: auto;

    scrollbar-color: var(--cor-destaque) #ffffff; /* thumb e track */
}


.box-items.row{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: nowrap;
}

.itemW{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;
    min-width: 140px;
    
    padding: 10px;
    border-radius: 3px;

    background-color: var(--cor-principal);
}

.row-details{
    width: 100%;
}

.itemW.row .row-details{
    display: flex;
    flex-direction: column;
    padding: 0 70px;
}


.itemW.row{
    flex-direction: row;
}


.itemW:hover{
    transform: translateY(-1px);
    transition: transform 0.2s ease;
    cursor: pointer;
}

.box-pics{
    text-align: center;
    width: 100%;
    height: 90px;

    background-color: var(--cor-texto2);
    margin-bottom: 10px;

    border-radius: 3px;
    overflow: hidden; /* importante */
}


.box-pics img{
    display: block; /* importante */
    width: 100%;
    height: 100%;
    
    object-position: center;
    object-fit: cover;

    border-radius: 3px;
}

.box-pics.row{
    width: 120px;
    height: 80px;
    aspect-ratio: unset;
    margin: 0;
    flex-shrink: 0;
}


.box-name-price{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    gap: 5px;
}

.box-name-price.row{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.item-name{
    font-weight: 600;
}

.item-value{
    margin-bottom: 5px;
}

.box-mbt{
    margin-bottom: 6px;
}

.box-progress{
    width: 100%;
    margin-bottom: 10px;
}

.box-progress.row{
    margin: 5px 0px 8px 0px ;
}

.area-progress{
    width: 100%;
    height: 15px;

    background-color: white;

    border-radius: 10px;

    padding: 3px;
}

.item-progress{
    height: 100%;
    background-color: lightgreen;
    border-radius: 10px;
}

.box-btn{
    width: 100%;
    display: flex;
    gap: 5px;
}

.box-btn.row{
    padding: 0px 60px;
}

.btn{
    width: 100%;
    text-align: center;
    padding: 8px 15px;
    border-radius: 3px;
    border: none;
    cursor: pointer;
}

.btn:hover{
    transform: translateY(-1px);
    transition: transform 0.2s ease;
}


.btn-complete{
    color: var(--cor-principal);
    background-color: var(--cor-destaque);
}

.btn-complete:hover{
    box-shadow: 0 0 6px var(--cor-destaque);
}

.btn-delete{
    font-size: 12px;
    color: var(--cor-texto);
    background-color: var(--cor-secundaria);
}

.btn-delete:hover{
    box-shadow: 0 0 6px var(--cor-destaque);
}

.cash-window{
    position: fixed;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(20px); /* combina os dois */

    display: flex;
    justify-content: center;
    align-items: center;

    flex-direction: column;

    padding: 20px 25px;
    gap: 10px;


    border-radius: 3px;

    background-color: var(--cor-secundaria);

    opacity: 0;
    visibility: hidden;

    transition: opacity 0.4s ease-in-out, transform 0.8s ease;

    z-index: 997;
}

.cash-window.visible{
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, -50%) translateY(0);
}

.cash-window h2{
    margin-bottom: 2px;
}

.cash-window button{
    margin-top: 10px;
    padding: 10px 20px;

    border: none;
    border-radius: 3px;

    background-color: var(--cor-destaque);
    color: var(--cor-texto2);
    
    cursor: pointer;
    transition: all 0.3s ease;
}

.cash-window button:hover{
    transform: translateY(-1px) scale(1.02);
}

.box-wallet{
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    flex-direction: column;

    background-color: white;
    width: 100%;

    padding: 12px;

    border-radius: 3px;
}

.gen-wallet{
    display: flex;
    align-items: center;
    justify-content: space-between;   

    text-align: center;

    width: 100%;

    gap: 10px;

    font-weight: 600;
}

.gen-wallet input{
    width: 50%;

    padding: 10px;

    border-radius: var(--input-radius);
    border: 1px solid var(--cor-destaque);

    font-family: var(--font-principal);

    transition: var(--input-transition);
}

.gen-wallet input:focus{
    outline: none;
    border: var(--input-focus-border);
    box-shadow: var(--input-focus-box-shadow);
}

.gen-wallet input:hover {
    border-color: var(--cor-principal);
}

.gen-wallet button{
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid var(--cor-destaque);
    border-radius: 50%;

    text-align: center;
    line-height: normal;
    padding: 0;
    margin: 0;

    background-color: white;

    height: 25px;
    width: 25px;

    font-size: 24px;

    cursor: pointer;

    transition: all 0.2s ease;
}

.gen-wallet button:hover{
    transform: translateY(-1px) scale(1.02);
}

.add-wallet button{
    color: rgb(0, 152, 0);
    margin-top: 3px;
}

.remove-wallet button{
    color: rgb(186, 0, 0);
    padding-bottom: 3px;
}
